<div class="container">
  
  <div class="row justify-content-center">
    <div class="col col-6">
      <img src="<%= uri(addr = "logo.png") %>"/>
      <form action="/generate" method="GET">
        <h1 class="formlegend headline-medium">Text</h1>
        

        <div class="form-group purple-border">
          <textarea class="form-control" id="exampleFormControlTextarea4" name="line1" placeholder="Your text"  rows="5" autofocus="">Lorem ipsum dolor sit amet,
*consectetur* adipiscing elit,
sed do eiusmod *tempor* incididunt
ut labore et dolore magna *aliqua*</textarea>
        </div>
 
        <h1 class="formlegend headline-medium">Color</h1>
        
        <div class="form-group">
          <select name="color" class="form-control">
            <option value="green_background">Green Background</option>
            <option value="red_background">Red Background</option>
            <option value="blue_background">Blue Background</option>
            <option value="yellow_background">Yellow Background</option>
            <option value="green_text">Green Text</option>
            <option value="red_text">Red Text</option>
            <option value="blue_text">Blue Text</option>
            <option value="yellow_text">Yellow Text</option>
          </select>
        </div>
        <div class="form-group">
          <button class="btn btn-lg btn-primary btn-block" type="submit">Download your image</button>
        </div>
      </form>
      <% if !@generated_name.nil? %>       
        <img src="<%= uri(addr = @generated_name) %>"/>
      <% end %>
    </div>
  </div>
</div>